

.nav-bar,ul{
    text-align: center;
    margin-right: 40px;
    margin-top: 40px;
    font-size: 30px    
}

li {
    display: inline-block;

}

a{
    padding: 15px;
}


li, a, ul {
    list-style: none;
    color: black;
    text-decoration: none;
}


body {
    
    /* background: linear-gradient(to right, #6CB4EE, #ff9999);*/
    background-color: #ffcc99;
    font-family:'Raleway';
    justify-content: center;
    color: black;
}

#text1 {
    color: black;
    text-align: center;
    margin-top: 350px;
    width: 100%;
    font-size: 80px;
}

#text2 {
    margin: auto;
    font-size: 50px;
    color: black;
    text-align: center;
    
    border-right: 2px solid;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    animation: 
        typing 2s,
        cursor .4s step-end infinite alternate;
    
}
@keyframes cursor {
    50% {
        border-color: transparent;
    }
}

@keyframes typing {
    from {
        width: 0;
    }
}

.container {
    display: inline-block;
    padding-left: 670px;
}



.box {
    position: absolute;
    top: 89%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.box span{
    display: block;
    width: 20px;
    height: 20px;
    border-bottom: 2px solid #000000;
    border-right: 2px solid #000000;
    transform: rotate(45deg);
    margin: -10px;
    animation: animate 2s infinite;
}

.box span:nth-child(2){
    animation-delay: -.2s;
}
.box span:nth-child(3){
    animation-delay: -.4s;
}


@keyframes animate {
    0%{
        opacity: 0;
        transform: rotate(45deg) translate(-20px, -20px);
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: rotate(45deg) translate(20px, 20px);
    }
}

#about-me{
    font-size: 50px;
}

#about-me-p{
    color: black;
    font-size: 30px;
}

section{
    display: grid;
    place-items: center;
    align-content: center;
    margin-bottom: 50px;
    color: black;
}


.hidden{
    opacity: 0;
    filter: blur(5px);
    transition: all 1s;
}

.show{
    opacity: 1;
    filter: blur(0);
}


.logos{
    display: flex;
    margin-left: 750px;
    
}

#image1 {
    width: 100px;
    height: 100px;
}
#image2 {
    width: 100px;
    height: 100px;
    padding-left: 20px;
    
}
#image3 {
    width: 150px;
    height: 100px;
    margin-right: 50px;
}

#copyright{
    text-align: center;
    margin-top: 150px;
}
